/* COLOR */

$primary-color: #010101;
$secondary-color:#fff;
$main-color: #fcb131;


/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$primary-font: 'Space Mono', monospace;
$secondary-font: 'Roboto', sans-serif;

